        <header class="pure-u-1 cv-header">

          <img src="{{ site.author_image }}" class="cv-image" itemprop="image"/>

          <h1 class="cv-name" itemprop="name">{{ site.author_name }}</h1>

          <div class="title-bar">
            <h2 class="cv-job" itemprop="jobTitle">{{ site.author_job }}</h2>

            <ul class=cv-links>
              <li class=cv-link-item><a href="{{ site.github_url }}" class=cv-link><i class="cv-icon fab fa-github"></i></a></li>
              <li class=cv-link-item><a href="{{ site.twitter_url }}" class=cv-link><i class="cv-icon fab fa-twitter"></i></a></li>
              <li class=cv-link-item><a href="{{ site.linkedin_url }}" class=cv-link><i class="cv-icon fab fa-linkedin"></i></a></li>
              <li class=cv-link-item><a href="{{ site.url }}" class=cv-link><i class="cv-icon fas fa-home"></i></a></li>
            </ul>
          </div>

          <div class="executive-summary" itemprop="description">
            Owing to my initially training in networking and electronics I consistently think with an engineers mindset. Combining this with the analytical skills established during my PhD studies allows me to tackle data sets in a very unique way, acquiring new tools quickly when required. Over the last years, I have come to enjoy asking interesting questions, retrieving and mining the data sets I need to answer them, and then visualising them in a meaningful manner.
          </div>

        </header>
