        <header class="pure-u-1 cv-header">

          <img src="{{ site.author_image }}" class="cv-image" itemprop="image"/>

          <h1 class="cv-name" itemprop="name">{{ site.author_name }}</h1>

          <div class="title-bar">
            <h2 class="cv-job" itemprop="jobTitle">{{ site.author_job }}</h2>

            <ul class=cv-links>
              <li class=cv-link-item><a href="{{ site.github_url }}" class=cv-link><i class="cv-icon fab fa-github"></i></a></li>
              <li class=cv-link-item><a href="{{ site.twitter_url }}" class=cv-link><i class="cv-icon fab fa-twitter"></i></a></li>
              <li class=cv-link-item><a href="{{ site.linkedin_url }}" class=cv-link><i class="cv-icon fab fa-linkedin"></i></a></li>
              <li class=cv-link-item><a href="{{ site.url }}" class=cv-link><i class="cv-icon fas fa-home"></i></a></li>
            </ul>
          </div>

          <div class="executive-summary" itemprop="description">
            My initial training in networking and electronics shaped me to consistently think with an engineers mindset. Throughout my university education I have always strived to combine the ever curious engineer with the molecular biologist. Now, I enjoy askinging interesting questions and analysing data to answer them.
          </div>

        </header>
