<div class=author-info>
    <img src="{{ site.author_image }}" class=author-image />
    <h1 class=author-name><a href=/>{{ site.author_name }}</a></h1>
    <div class=author-bio>
        {{ site.author_bio }}
    </div>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class="fab fa-github"></i></a>
        <a href="{{ site.twitter_url }}"><i class="fab fa-twitter"></i></a>
        <a href="{{ site.linkedin_url }}"><i class="fab fa-linkedin"></a></i>
        <a href="{{ site.feed_url }}"><i class="fas fa-rss-square"></i></a>
    </div>
    <div class=home-nav>
        <ul>
            <li><a href="https://scholar.google.at/citations?user=WUs-Q8AAAAAJ">Publications</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="{{ site.github_url }}">Code</a></li>
        </ul>
    </div>
</div>
