.content {
    color: #333;
    font-size: 1.2em;
    line-height: 1.4em;
}

.highlight {
    font-size: 0.8em;
    line-height: 1.1em;
    margin: 1em 0;
}

.content .source {
    font-style: italic;
    text-align: right;
}

.content .source:before {
    content: "- ";
}

.content img {
    display: block;
    margin: 0 auto;
}

.content .frame {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

.content .frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content .caption {
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 0 auto 2em auto;
    width: 80%;
}

.content .discuss {
    font-style: italic;
    margin-top: 1.5em;
    margin-bottom: 0;
}
